<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gradpro.home_automation.smarthomeautomation">

    <uses-permission android:name="android.permission.INTERNETt" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="Smart Home"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".autorobot"></activity>
        <activity android:name=".manualrobot" />
        <activity android:name=".changeusername" />
        <activity android:name=".changepassword" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home1"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".leds"
            android:label="Lighting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lock"
            android:label="Locks"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>